@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  body {
    overflow-y: hidden;
  }
  .content {
    height: 75vh;
  }
}

@media (max-width: 1024px) {
  .content h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
  }

  .content {
    height: auto;
    text-align: center;
  }
}

.animation {
  animation: fadeIn 0.8s ease-in-out;
}

.diagonal-split {
  background: linear-gradient(98deg, rgb(228, 227, 227) 50%, rgb(32, 31, 31) 50%);
  width: 100%;
}

.content {
  z-index: 1;
}

* {
  font-family: 'Lato', sans-serif;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.photo-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 10px;
}

